ul {
    list-style: none;
}

.swal2-container.swal2-top-end > .swal2-popup, .swal2-container.swal2-top-right > .swal2-popup {
    background: #fbfbfb;
}


.links-box {
    background: #fff;
    padding: 15px 25px;
    padding-bottom: 0;
    border: 0.9px solid #777;
    border-radius: 6px;
    width: 85%;
    margin: auto;
}

.links-box .header h2 {
    margin-bottom: 0.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

#page-title {
    display: flex;
    align-items: center;
}

#page-title i {
    font-size: 2.6rem;
    margin-right: 0.6rem;
    color: rgb(19, 122, 19);
}

#page-title span {
    font-weight: 400;
    font-size: 1.4rem;
}

.links-box .content {
    margin-bottom: 2.2rem;
    position: relative;
}

.links-box .content::after {
    content: '';
    height: 1px;
    width: 100%;
    bottom: -1.4rem;
    border-radius: 5px;
    left: 0;
    background: silver;
    opacity: 0.9;
    position: absolute;
}

.links-box .content:last-child::after {
    display: none;
}

.links-box .content a {
    color: rgba(37, 60, 120, 0.99);
    text-decoration: none;
    display: inline;
}

.links-box .content a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    .links-box {
        width: 95%;
    }
}

.category-form {
    width: 85%;
    margin: auto;
    padding: 35px 30px;
    border: 0.9px solid #777;
    border-radius: 6px;
    background: #fff;
}

.category-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}

.category-form form input[type="text"],
.category-form form input[type="email"],
.category-form form input[type="password"]{
    font-size: 1.2rem;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid darkgrey;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.category-form input[type="radio"] {
    cursor: pointer;
}

.category-form form .categoryWeight {
    display: none;
}

.category-form form p, .category-form form label {
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
    font-weight: 400;
}

.category-form form select {
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.category-form form select {
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.category-form input[type="submit"] {
    background: rgba(39, 65, 132, 0.99);
    color: #fff;
    border: none;
    padding: 12px 0px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin-top: 1rem;
    border-radius: 6px;
    transition: all .3s ease-in-out;
}

.category-form input[type="submit"]:hover {
    background: rgba(42, 70, 142, 0.99);
    cursor: pointer;
}

.list-box {
    background: #fff;
    padding: 35px 25px;
    border: 0.9px solid #777;
    border-radius: 6px;
    width: 85%;
    margin: auto;
}

.list-box .empty-set {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.list-box .empty-set span {
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

.list-box .empty-set span.description {
    margin-top: 0.1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #585858;
}

.list-box .empty-set i {
    font-size: 5rem;
}

.list-box .empty-set a {
    background: #0c62b2;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    padding: 8px 26px;
    border-radius: 3px;
    margin-top: 0.6rem;
    transition: all .3s ease-in-out;
}

.list-box .empty-set a:hover {
    background: #0d67bb;
}

.list-box .row {
    display: flex;
    justify-content: space-evenly;
}

.list-box .row .category-box.first,
.list-box .row .category-box.second {
    margin-top: 0;
}

.list-box .row .category-box {
    border-radius: 7px;
    width: 40%;
    margin-top: 1.5rem;
    position: relative;
    box-shadow: 0px 0px 3px 1px silver;
    display: flex;
    flex-direction: column;
    padding: 22px 10px;
    padding-top: 0;
}

.list-box .row .category-box .color {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: darkcyan;
    height: 10px;
    border-radius: 6px 6px 0 0;
}

.list-box .row {
    text-align: center;
}

.list-box .row .category-box span {
    margin-top: 1.1rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.list-box .row .category-box .buttons {
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.list-box .row .category-box .buttons i {
    font-size: 1.15rem;
    margin-right: 2px;
}

.list-box .row .category-box .buttons a{
    color: black;
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 7px;
    font-weight: 300;
}

.list-box .row .category-box .buttons a:nth-child(2) {
    border: 1px solid crimson;
    color: crimson;
}

@media only screen and (max-width: 1045px) {
    .list-box .row {
        display: flex;
        flex-direction: column;
    }

    .list-box .row .category-box {
        width: 100%;
    }

    .list-box .row .category-box.second {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 405px) {
    .list-box .row .category-box .buttons a:first-child {
        margin-bottom: 0.3rem;
    }
}