
main .box {
    font-size: 1.3rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
}

main a {
    text-decoration: none;
    color: #fff;
}

main .box .right {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
}

main .right {
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(67, 67, 67);
    opacity: 0.97;
    padding: 40px 100px !important;
}

main .right img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 0 8px 0 silver;
}

main .circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

main .circle .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

main .circle .overlay i {
    font-size: 6rem;
    color: #f8f8f8;
}

main .circle input {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

main .right h2 {
    margin-top: 0.8rem;
    color: rgb(36, 36, 36);
    font-weight: 500;
    margin-bottom: -7px;
    letter-spacing: 0.05rem;
}

main .right span {
    color: darkgray;
    font-size: 0.9rem;
    font-family: sans-serif;
}

main .button {
    margin-top: 32px;
    display: block;
    width: 60%;
    padding: 12px 5px;
    background: rgb(19, 122, 19);
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    transition: all ease-in-out 0.2s;
}

main .button:hover {
    cursor: pointer;
    background: rgb(36, 145, 36);
}