.links-box {
    padding: 30px !important;
}

.box {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.box .btn {
    background: #283e7a;
    padding: 10px 20px;
    display: inline-block;
    float: right;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    font-size: 0.9rem;
}
.box .btn div {
    display: flex;
}

.box .btn i {
    font-size: 1.3rem;
    margin-right: 0.4rem;
}

table {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
    border-collapse:separate;
    border-spacing: 0 1rem;
}

table tr {
    background: #f7f7f7;
}

table tr td {
    padding: 0.6rem 0;
}
table thead tr th{
    background: #fff;
    font-weight: 500;
    padding: 0.8rem 0;
}

table thead th:first-child {
    text-align: left;
}

table thead .user {
    margin-left: 20px;
}

table thead {
    position: relative;
}

table thead::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: darkgrey;
    border-radius: 5px;
}

table td img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 20px;
}

table td:first-child {
    display: flex;
    align-items: center;
}

table td:first-child div {
    margin-left: 1rem;
}

table td:first-child div span {
    font-weight: 300;
    font-size: 0.9rem;
}

table td:first-child a {
    text-decoration: none;
    color: #283e7a;
}

table td:first-child span {
    display: block;
    text-align: left;
}

table td .status {
    background: rgb(19, 122, 19);
    color: #fff;
    font-size: 0.8rem;
    padding: 6px 12px;
    border-radius: 8px;
}

table td  a.mail{
    color: #283e7a;
}

table td:last-child i.la-edit{
    color: #283e7a;
    font-size: 1.8rem;
}

table td:last-child i {
    color: crimson;
    font-size: 1.8rem;
}

/* ARKUSZ OCEN */
.oceny {
    width: 70%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.oceny table {
    border-radius: 7px !important;
    background: rgb(253, 253, 253);
}

.oceny table,
.oceny td,
.oceny th {
    border: 0.7px solid #c9c9c9;
    border-collapse: collapse;
}


.oceny tr:nth-child(even) {
    background: #f1f1f1;
}

.oceny td {
    text-align: justify;
    padding: 4.5px 8px;
}

.oceny td.grade {
    width: 70px;
}

.oceny th {
    background: #89a702;
    font-weight: 400;
    padding: 4px;
}
.oceny td {
    height: 21px;
}

.oceny .first td {
    text-align: center;
    background: #a4c801;
    color: black;
}

.oceny .nr {
    text-align: center;
}

.oceny td.nazwa {
    white-space: nowrap;
    text-align: left;
}

.oceny td.ob {
    text-align: left !important;
}

.oceny .Sr1 {
    text-align: right;
}

.oceny .Sr2 {
    text-align: right;
}

.oceny .SrR {
    text-align: right;
}

.oceny .opisowa {
    text-align: center;
}

.oceny .btn-add {
    text-align: center;
    position: relative;
}

.oceny .btn-add a {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    transition: .2s all ease-in-out;
}

.oceny .btn-add:active a{
    background: #dfdfdf;
}

.oceny a.ocena {
    color: black;
    text-decoration: none;
    padding: 2px 8px;
    display: inline-block;
    margin-bottom: 3px;
}

.oceny a {
    text-decoration: none;
    color: black;
    user-select: none;
}

.oceny .btn-add a {
    background: rgb(234, 234, 234);
    height: 28px;
    width: 40px;
    display: block;
    line-height: 28px;
    border-radius: 5px;
    box-shadow: 0 0 4px -1px rgb(59, 59, 59);
    font-size: 1.1rem;
}

.oceny table td:first-child {
    display: table-cell;
}

/* TOOLTIP */
span.ocena {
    position: relative;
}
.ocenatooltip {
    background: #e2e281;
    padding: 9px 12px;
    color: #4a410b;
    min-width: 200px;
    flex-direction: column;
    font-size: 0.85rem;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -2px #4a410b;
    position: absolute;
    display: none;
    z-index: 1000;
    top: 25px;
    left: 0;
}

.ocenatooltip .category {
    white-space: nowrap;
}

.ocenatooltip .teacher {
    white-space: nowrap;
}

input.ocenaValue {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.2rem;
}

textarea.ocenaComment {
    width: 100%;
    padding: 5px;
    font-size: 1.1rem;
    resize: none;
    display: none;
}

.commentth {
    display: none;
}

tdcomment {
    display: none;
}

.ocena-header {
    margin-bottom: 1.5rem;
}

.ocena-header table {
    margin: 15px auto;
    width: 40%;
    max-width: 370px;
    background: rgb(250, 250, 250);
}

.ocena-header table th {
    background: #a4c801;
    padding: 12px;
    font-weight: 500;
    font-size: 1rem;
}

.ocena-header table, .ocena-header table td {
    border: 1.2px solid #dfdfdf;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.ocena-header table td {
    padding: 10px 12px;
    white-space: nowrap;
}

.ocena-header textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid darkgrey;
    font-size: 1rem;
    padding: 3px 5px;
}

.ocena-header input[type="date"] {
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    width: 100%;
}

.ocena-header  select {
    padding: 7px;
    width: 100%;
}

.ocena-header option {
    padding: 10px 25px;
    font-size: 0.95rem;
}

.ocena-header div.btn {
    margin-top: 0.4rem;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: none;
    border: 1px solid darkgrey;
    transition: all .1s ease-in-out;
    text-align: center;
    box-shadow:  0 0 4px -2.5px rgb(59, 59, 59);
    background: rgb(241, 241, 241);
    user-select: none;
}
.ocena-header div.btn:hover {
    cursor: pointer;
}
.ocena-header div.btn:active {
    background: #dfdfdf;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
}

.btn a {
    /*background: rgb(241, 241, 241);*/
   /* display: block; */
    border-radius: 6px;
    box-shadow: 0 0 4px -1px rgb(59, 59, 59);
    font-size: 1rem;
    width: 120px;
    text-align: center;
    padding: 6px 0;
    transition: all .05s ease-in-out;
}

.btn a:active {
    background: #dfdfdf;
}

.btn a:nth-child(2) {
    margin-right: 20px;
}

.btn input[type="submit"] {
    background: rgb(241, 241, 241);
    display: block;
    border-radius: 6px;
    box-shadow: 0 0 4px -1px rgb(59, 59, 59);
    font-size: 1rem;
    width: 120px;
    text-align: center;
    padding: 6px 0;
    outline: none;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}


.btn input[type="submit"]:active {
    background: #dfdfdf;
}

.ocenaValue {
   border-radius: 5px;
    border: 1px solid black;
}

.border {
    border: 3px solid crimson !important;
}

.border2 {
    border: 3px solid #6c9cd1 !important;

}