body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

.title {
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 1.3rem;
    margin-bottom: .8rem;
    font-weight: 600;
    padding-bottom: 8px;
}

/*KOMUNIKAT*/
button span {
    margin-right: 0.3rem;
}

.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6caca;
    padding: 0.6rem;
    border-radius: 2.5px;
    user-select: none;
    position: fixed;
    top: 15px;
    right: 15px;
    min-width: 370px;
}

.icon {
    margin-right: 20px;
}

.warning b {
    color: rgb(118, 6, 28);
}

.warning span {
    font-size: 2.5rem;
    color: rgb(112, 9, 9);
}


